.containerlogin {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logofooterlogin {
    width: 200px;
}
.link-login{
    color: black;
    font-size: 13px;
    text-decoration: underline;
}

form.formlogin {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.formlogin input {
    margin: 10px;
}

/* Dashboard */

.dashboardcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnadmin a {
    color: white;
    background-color: blue;
    outline: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
}

/* Cards admin  */

.cardAdmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #f6f6f6;
    align-content: center;
    border-radius: 5px;
    padding: 5px;
    BORDER: 1px solid #bcbcbc;
}

 
 .button-groupAdmin a.buy{
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
}

.button-groupAdmin a.cart {
background-color: #198754;
color: white;
padding: 3px;
font-size: 14px;
border-radius: 4px;
margin-right: 20px;
}

.cardAdmin h1 {
    font-size: 16px;
    color: blue;
}

.button-groupAdmin {
    display: flex;
    padding: 10px;
}

.descriptionAdmin {
    color: black;
}