.containerlogin {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-login{
    color: black;
    font-size: 13px;
    text-decoration: underline;
}

form.formlogin {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.formlogin input {
    margin: 10px;
}

/* Dashboard */

.dashboardcontainer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnadmin a {
    color: white;
    background-color: blue;
    outline: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
}