
.headercontainer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(0 20 103 / 90%);
    border-bottom: 1px solid white;
}

.headercontainer .cicarellilogo{
    width: 270px;
    padding: 20px;
}

.headercarrito svg{
width: 30px;
}

.carritoheader{
    margin-right: 15px;
}