.headercontainermobile{
    display: none;
   
}

.headercontainer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(0, 20, 103, 0.8);
        position: fixed;
        z-index: 9999;
            top: 0;
}

.headercontainer .cicarellilogo {
    width: 230px;
    padding: 20px;
}

.headercarrito svg{
width: 30px;
}

.carritoheader{
    margin-right: 15px;
}

.containercarrito {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-right: 20px;
}

.headercarrito {
    display: flex;
    margin-right: 30px;
}
.containeruser {
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 13px;
}

.search form{
    display: flex;
}


input.keywords {
    width: 300px;
    height: 40px;
    border-radius: 15px 0 0 15px;
    border: none;
    font-size: medium;
    padding-left: 0.8rem;
}

.btnsearch {
    border: none;
    background-color: #004b97;
    display: flex;
    align-items: center;
    padding: 8px;
    height: 40px;
    border-radius: 0 10px 10px 0;  
    cursor: pointer;
}

.btnsearch:hover{
    background-color: #225991;
}


.search input::placeholder{
    padding: 10px;
}

.search input:focus{
    outline: none;
}

/* Header mobile */


@media screen and (max-width: 999px){
    .headercontainer .cicarellilogo {
        width: 150px;
        padding: 20px;
    }
}


@media screen and (max-width:768px){
    .headercontainer{
        display: none;
    }
    .headercontainermobile {
        display: flex;
        background-color: rgb(0 20 103 / 90%);
        height: 70px;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .containercarrito{
        margin-right: 0px;
    }

    .carritoheader{
        margin-right: 0px;
    }


    .logomobile .cicarellilogo{
        width: 150px;
    }
    
 
 }

