.swiper {
    width: 100%;
    height: 600px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .logo {
    z-index: 10;
}
p,h1,h2,h3,h4{
  text-align: center;
}

  /* Cinta en medio de video */
  .text {
    position: absolute;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 100px 30px 30px 30px;
}

text h2 {
  font-size: 28px;
  color: rgb(255, 224, 0);
}

section.showcase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 400px;
  position: relative;
}

section.showcase video{
   opacity: 0.25;
   height: 100%;
}

/* Newsletter section */

section.newsletters {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.newsletterscontainer {
  padding: 15px;
}

.titlenewsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cardscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.newsletterscards {
  transition: all 0.2s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  /* height: 240px; */
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  border: 3px solid #d3d3d3;
  transition: all 0.2s ease-in-out 0s;
}
.newsletterscards:hover {
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.05);
}

.containerimg {
  /* width: 150px; */
  height: 200px;
  object-fit: cover;
}

.containerimg img {
  width: 100%;
  height: 100%;
}

.titlecard {
  margin-top: 10px;
  font-size: 18px;
}

.text h2, .sectitle  {
  font-size: 48px;
  color: rgb(255, 224, 0);
}

.text p{
  font-size: 24px;
}

.titlenewsletter:nth-child(1){
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
}

.titlenewsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.titlenewsletter a {
  color: white;
  background-color: #FFD100;
  color: #002F87;
  margin-top: 20px;
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
}

.titlenewsletter a:hover {
  background-color: white;
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.05);
}

video {
  min-width: 100%;
}

.pvideo{
  margin: 0 10vw;
}



/* Btn video cicarelli */

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 10px 30px;
  background-color: rgb(0 20 103 / 70%);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px rgb(255 224 0);
}

.btn__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: rgb(255 224 0 / 70%);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
  color: #ffffffe3;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
   margin-top: 15px;
}

/* End btn cicarelli */


/* Section productos */
.section_productos{
  width: 100%;
  height: 400px;
  display: flex;
  background-color:  #fbfbfc;
  align-items: center;
  justify-content: space-between;
}

.textproductos{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}




.textproductos h2 {
  color: #0b235c;
  font-size: 37px;
}

.textproductos span {
  font-size: 11px;
  margin: 15px 0px;
}

.section_productos .containerimg{
width: 500px;
height: 300px;
align-items: center;
object-fit: contain;
}

.section_productos a {
  color: white;
  text-decoration: none;
  background-color: rgb(2 41 201 / 97%);
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.section_productos a:hover{
  background-color: white;
  border: 1px solid rgb(2 41 201 / 97%) ;
  color: rgb(2 41 201 / 97%);
}



.catalogoshome{
  width: 100%;
  background-color: #1c1c1c;
  background-image: url(/images/bgsquare.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 350px;
}

.catalogoshome h2 {
  margin: 20px;
}

.cat_title {
  color: white;
  display: flex;
  justify-content: center;
}

.catcontainerimg img{
  width: 150px;
}

.cattitle span{
  color: rgb(255 224 0);
}

.catalogospdf {
  margin: 0 50px;
}

.catalogospdf a {
  text-decoration: none;
}

.containercatalogos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Calidad */
.imgcalidadcontainer {
  display: flex;
  align-items: center;
}

.certifiedimg {
  width: 150px;
}

img.expimgizq1 {
  width: 500px;
}

.expimgizq {
  width: 200px;
  margin-left: 30px;
}

.exportacionimgtext {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



/* Media querys tablet */

@media screen and (max-width: 768px){

  .exportacionimgtext {
      flex-direction: column;
  }

  img.expimgizq1 {
    width: 300px;
  }

.snimg{
  width: 500px;
}
  
  .text {
    background: none;
}

.text h2, .sectitle  {
  font-size: 36px;
}
.text h3 {
  font-size: 15px;
}
.text p {
  font-size: 18px;
}

.btn__inner{
  padding: 5px 15px;
}

.section_productos{
  height: 500px;
  flex-direction: column;
}

.section_productos .containerimg {
  width: 400px;
  height: 300px;
}

}
/* Mobile mini */
@media screen and (max-width: 400px){



  .snimg{
    width: 400px;
  }

  .text p {
    font-size: 15px;
}

.text h2, .sectitle {
  font-size: 30px;
  margin-top: 15px;
}


.section_productos .containerimg {
  width: 300px;
  height: 200px;
}


}


/* 404 Page CSS */

.notfoundcontainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.notfoundcontainer img {
  width: 800px;
}

.btn404home {
  font-size: 14px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 13px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  background-color: #00377C;
  min-width: 200px;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.btn404home:hover {
  color:black;
  background-color: #EEECEB;
  border:1px solid grey;
}


.headercontainer a {
  z-index: 99;
}

.gradtoblue{
  position: absolute;
  background: -moz-linear-gradient(0deg, #002F87ff 0%, #002F8700 50%, #002F8700 100%);
background: -webkit-linear-gradient(0deg, #002F87ff 0%, #002F8700 50%, #002F8700 100%);
background: linear-gradient(0deg, #002F87ff 0%, #002F8700 50%, #002F8700 100%);
}

.bgradcard{
  border: 3px solid linear-gradient(0deg, #eeebe9 0%, #4c5354 25%, #e9e9ea 50%, #999ea3 87%, #b2b2b2 100%)
}

.textleft{
  text-align: left;
  transform: scale(0.8);
}

/* swiper point */

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #ffb900;
}