.containerproducts {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 100px;

}

.cardproducts {
    display: flex;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerimgprods{
    width: 100px;
    height: 100px;
}

.containerimgprods img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardproducts h3 {
    color: black;
}

.textproducts{
    display: flex;
    flex-direction: column;
    color: black;
}


/* Product detail */
.containerproductdetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    align-items: flex-start;
    width: 90%;
    margin: 70px auto;
    height: auto;
    flex-direction: row;
}