.containerproducts {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.cardproducts {
    display: flex;
    margin: 10px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerimgprods{
    width: 100px;
    height: 100px;
}

.containerimgprods img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardproducts h3 {
    color: black;
}

.textproducts{
    display: flex;
    flex-direction: column;
    color: black;
}

