.containerproducts {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 100px;

}

.cardproducts {
    display: flex;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerimgprods{
    width: 100px;
    height: 100px;
}

.containerimgprods img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardproducts h3 {
    color: black;
}

.textproducts{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    padding: 10px 0 0;
}

.textproducts span{
    padding: 0px 0 4px;
    line-height: 1.1;
}
.containerproductdetail .containerinfoproduct .textproducts span{
    padding:0 0 10px;
}


/* Product detail */
.containerproductdetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    align-items: flex-start;
    width: 90%;
    margin: 70px auto;
    height: auto;
    flex-direction: row;
}

.containerproductdetail {
    align-items: flex-start;
}
.containerproductdetail .imgproductdetail{
    WIDTH: 66%;
}
.containerproductdetail .containerinfoproduct{
    WIDTH: 33%;
    padding: 0 0 20px;
}   

@media screen and (max-width: 800px){

    .containerproductdetail {
        flex-direction: column;
    }
    .containerproductdetail .imgproductdetail{
        width: auto;
        margin-bottom: 20px;
    }
    .containerproductdetail .containerinfoproduct{
        width: auto;
    }   
}