.banner img{
    width: 100%;   
}

.sncontainer{
    width: 100%;
}

.snsection{
    display: flex;
    align-items: center;

}

.sn_title {
    display: flex;
    justify-content: center;
}

.sn_title h2{
    color: white;
    background-color: rgb(0 20 103 / 90%);
    padding: 10px;
    border-radius: 10px;
}
.introText {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin: 30px;
    border: 1px solid rgb(0 20 103 / 90%);
    border-radius: 20px;
}
.article_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introText p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
}

.containerbanner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

