@import url(/css/variables.css);
@import url(/css/header.css);
@import url(/css/nav.css);
@import url(/css/footer.css);
@import url(/css/home.css);
@import url(/css/sobreNosotros.css);
@import url(/css/admin.css);
@import url(/css/noticias.css);
@import url(/css/productos.css);
@import url(/css/juntas.css);