@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

:root {
  --background-color: #0f1923;   
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
}

.f36{
  font-size: 36px;
}
.f24{
  font-size: 24px;
}
.f12{
  font-size: 12px;
}

.faz{
  background-color: #00377C;
}
.fam{
  background-color: rgb(255, 224, 0);
}
.fbc{
  background-color: white;
}
.fne{
  background-color: black;
}

.az{
  background-color: #00377C;
}
.am{
  background-color: rgb(255, 224, 0);
}
.bc{
  background-color: white;
}
.ne{
  background-color: black;
}