<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">Juntas Cicarelli</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Compañía</li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
   
        <ul class="box">
          <li class="link_name">Legales</li>
          <li><a href="#">Política y Privacidad</a></li>
          <li><a href="#">Terminos & condiciones</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Defensa al consumidor</a></li>
          <li><a href="#">Usuarios Financieros</a></li>
        </ul>
        
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13123.75726617543!2d-58.500509!3d-34.681481!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc92f7c321519%3A0x220123005d10ca41!2sJuntas%20Ciccarelli!5e0!3m2!1ses!2sar!4v1645657920662!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021<a href="#"> Juntas Cicarelli.</a>Todos los derechos reservados.</span>
        <span class="dressPhone">
          <a href="#">Calle Riveta 743, Villa Madero. Buenos Aires, Argentina.</a>
          <a href="#">+54 0800-666-8695</a>
        </span>
      </div>
    </div>
  </footer>