<footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name"><img class="logofooter" src="/images/cicarellilogofooter1.png" alt=""></span>
        </div>
        <div class="media-icons">
          <a href="https://www.facebook.com/juntasciccarelliok" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/juntaciccarelli" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/juntasciccarelli" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/JuntasCiccarelliOK" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          <!-- <a href="#"><i class="fab fa-whatsapp"></i></a> -->
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Empresa</li>
          <li><a href="/">Inicio</a></li>
          <li><a href="/empresa">Quienes somos</a></li>
          <li><a href="/calidad">Calidad</a></li>
          <li><a href="/exportacion">Exportación</a></li>
          <!-- <li><a href="/distribuidores">Distribuidores</a></li> -->
        </ul>
   

        <div class="mod-wrapper clearfix">
          <!-- <h3 class="moduletitle">  <span>Datos de contacto</span>                </h3> -->                      
          <div class="mod-content clearfix">
  <div class="mod-inner clearfix">
    

    <div class="custom">
    JUNTAS CICCARELLI S.R.L<br><br>
    <p class="address">
    <i class="fa fa-home"></i> <span>Rivera 740 – Ciudad Madero, (B1768BLH)<br>
      <span style="padding-left: 22px;">Buenos Aires, Argentina</span>
    </span>
    </p>
    <p class="email">
    <i class="fa fa-envelope"></i><a href="mailto:info@ciccarelli.com.ar"><span style="color: #ffffff;padding-left: 6px;">info@ciccarelli.com.ar</span></a><br>
    <a href="mailto:ventas@ciccarelli.com.ar"><span style="color: #ffffff; padding-left: 22px;">ventas@ciccarelli.com.ar</span></a>
    </p>
    <p class="phone">
    <i class="fa fa-phone-square"></i> <span style="color: #ffffff;"></span><a href="tel:+541146551283">(54-11) 4655-1283</a></span>
      <br> <span style="color: #ffffff; padding-left: 22px;">Línea gratuita: <a href="tel:08006668695">0800-666-8695</a></span>
    </p>
    </div>
  </div>
</div>
</div>
        
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13123.75726617543!2d-58.500509!3d-34.681481!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc92f7c321519%3A0x220123005d10ca41!2sJuntas%20Ciccarelli!5e0!3m2!1ses!2sar!4v1645657920662!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2022<a href="#"> Juntas Cicarelli.</a>Todos los derechos reservados.</span>
        <span class="dressPhone" style="display: none;">
          <a href="#">Calle Rivera 740, Villa Madero, Buenos Aires, Argentina.</a>
          <a href="#">+54 011-4655-0731</a>
        </span>
      </div>
    </div>
  </footer>