<header>
    <div class="headercontainer">

        <div class="logo">
            <a href="/">
                <img class="cicarellilogo" src="/images/cicarellilogoheader.png" alt="">
            </a>
        </div>

        <!-- 
              <div class="search">
            <form action="" method="get">
                <input type="text" class="keywords" placeholder="Buscar...">
                <button class="btnsearch" type="submit">
                    <box-icon name="search-alt-2" color="white"></box-icon>
                </button>
            </form>
        </div> -->

        <div class="headercarrito">
            <div class="containercarrito">
                <a href="http://119.8.146.181:8181/PuntoDeVenta/Application.html">
                    <box-icon class="carritoheader" name="cart" color="white" size="md"></box-icon>
                </a>
                <span>E-Shop</span>
            </div>

            <% if (typeof session.user !="undefined" ) { %>
            <div class="headerusuario">

                <div class="containeruser">
                    <a href="/admin/dashboard">
                        <box-icon class="carritoheader" name="user" color="white" size="md"></box-icon>
                    </a>
                    <span>Admin</span>
                </div>

            </div>
            <% } %>

        </div>
    </div>

    <!-- Header mobile -->
    <header>


        <div class="headercontainermobile">

            <div class="containermenu">
                <a href="#">
                    <box-icon class="carritoheader" name="menu" color="white" size="md"></box-icon>
                </a>
            </div>

            


            <div class="logomobile">
                <a href="/">
                    <img class="cicarellilogo" src="/images/ciccarellilogo.png" alt="">
                </a>
            </div>

            <div class="containercarrito">
                <a href="#">
                    <box-icon class="carritoheader" name="cart" color="white" size="md"></box-icon>
                </a>

            </div>



        </div>





    </header>




</header>