<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Juntas Ciccarelli</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="navbar">

        <!-- Navbar logo -->
        <div class="nav-header">
            <div class="nav-logo">
                <a href="/">
                    <img class="logoimg" src="/images/cicarellilogoheader.webp" width="200px" alt="logo">
                </a>
            </div>
        </div>

        <!-- responsive navbar toggle button -->
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check" class="bgam">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <!-- Navbar items -->
        <div class="nav-links">


            <!-- Dropdown menu -->
            <div class="dropdown">
                <a class="dropBtn" href="#">Nosotros
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <!-- <a href="/distribuidores">Distribuidores</a> -->


                    <!-- Creating sub menu Dropdown -->
                    <div class="dropdown2">
                        <a class="dropBtn2" href="/empresa">Empresa
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="drop-content2">
                            <a href="/empresa/#section1">Historia</a>
                            <a href="/empresa/#section2">Calidad</a>
                            <a href="/empresa/#section3">Exportación</a>
                        </div>
                    </div>
                    <div class="dropdown2">
                        <a class="dropBtn2" href="/productos">Productos
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="drop-content2">
                            <a href="/productos/#sectionjuntasmls">Juntas MLS</a>
                            <a href="/productos/#sectionjuntasnarso">Juntas Fibra</a>
                            <a href="/productos/#sectionretenes">Retenes</a>
                            <a href="/productos/#sectionformadoresdejuntas">Formadores de juntas</a>
                            <a href="/productos/#sectionlimpiamanos">Limpiamanos</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="dropdown">
                <a class="dropBtn" href="#">Novedades
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="/newsletters">Newsletters</a>
                    <a href="/noticias">Noticias</a>


                </div>
            </div>
            <div class="dropdown">
                <a class="dropBtn" href="#">Empleos
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content" style="min-width: 300px;">
                    <a href="https://forms.gle/jzeubK4mJn19erjG9" target="_blank">Subí tu CV</a>
                    <div style="display: flex;overflow: hidden;">
                        <a href="mailto:rrhh@juntasciccarelli.com.ar" style="width:inherit;">rrhh@juntasciccarelli.com.ar</a>
                        <a href="javascript:getlink();">
                            <abbr title="Copiar Email">
                                <i class="fa-regular fa-copy"></i>
                            </abbr>
                            <!--  <p style="position: absolute; margin: 10px 0;">
                                Enlace copiado
                            </p> -->
                        </a>
                    </div>
                    <!--   <a href="http://dominio.com" id="enlace">Mi enlace</a>
                    <button onClick="CopiarEnlace();">Copiar enlace</button>
                    <div>El enlace copiado es: <span id="copiado"></span></div> -->

                </div>
            </div>

            <!--OCULTAR CATALOGOS Y SERVICIOS 
                HASTA DEFINIR NAVEGACION PRINCIPAL
                
                 
                
                <div class="dropdown">
                <a class="dropBtn" href="#">Catálogos
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="/">Online</a>
                    <a href="/">Descargar</a>


                </div>
            </div>


            <div class="dropdown">
                <a class="dropBtn" href="/servicio">Servicios
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="#">Competición</a>
                    <a href="#">Información técnica</a>


                </div>
            </div> -->

            <div class="btnheadermobile dropdown">
                <!-- SE QUITA BOTON DE BUSQUEDA DE MENU MOBILE -->
                <!-- <a class="btnmobileA dropBtn" href="">
                    <box-icon name="search" color="yellow" size="sm"></box-icon>
                    <span class="titlespan"> Buscar
                    </span>
                </a>
                <div class="drop-content">
                    <a href="#">Competición</a>
                    <a href="#">Información tecnica</a>
                </div> -->
                <a class="btnmobileA" href="http://119.8.146.181:8181/PuntoDeVenta/Application.html">
                    <box-icon name="cart" color="#FFD100" size="lg"></box-icon>
                    <!-- <span class="titlespan">Carrito</span> -->
                </a>
            </div>

        </div>

        <div class="btnheader">
            <a href="http://119.8.146.181:8181/PuntoDeVenta/Application.html">
                <box-icon name="cart" color="#FFD100" size="md" class="hovexpandicon"></box-icon>
            </a>

            <!-- Ahora no quieren buscador acá sino en los sitios -->
            <!--  <a href="">
                <box-icon name="search" color="yellow" size="md"></box-icon>
            </a> -->
        </div>
        <!-- Ahora no quieren buscador acá sino en los sitios -->
        <!-- <div>
            <form method="get" action="/searchProducts" class="formheader">
                <input type="text" name="keywordss" placeholder="Buscar productos">
                <button type="submit" class="btnheadersearch">
                    <box-icon class="boxiconsearch" name="search" color="black" size="sm"></box-icon>
                </button>
            </form>
        </div> -->

    </div>
    <!--     <div class="gradtoblue" style="width: 100%;height: 10px;top: 0;z-index: 10;"></div> -->
</body>

</html>