<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="navbar">

        <!-- Navbar logo -->
        <div class="nav-header">
            <div class="nav-logo">
                <a href="/">
                    <img class="logoimg" src="/images/cicarellilogoheader.png" width="145px" alt="logo">
                </a>
            </div>
        </div>

        <!-- responsive navbar toggle button -->
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <!-- Navbar items -->
        <div class="nav-links">


            <!-- Dropdown menu -->
            <div class="dropdown">
                <a class="dropBtn" href="#">Nosotros
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="/distribuidores">Distribuidores</a>


                    <!-- Creating sub menu Dropdown -->
                    <div class="dropdown2">
                        <a class="dropBtn2" href="/empresa">Empresa
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="drop-content2">
                            <a href="/empresa/#section1">Historia</a>
                            <a href="/empresa/#section2">Calidad</a>
                            <a href="/empresa/#section3">Exportación</a>
                        </div>
                    </div>
                    <div class="dropdown2">
                        <a class="dropBtn2" href="/juntas">Productos
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="drop-content2">
                            <a href="/juntas/#sectionjuntas">Juntas</a>
                            <a href="/juntas/#sectionretenes">Retenes</a>
                            <a href="/juntas/#sectionselladores">Selladores</a>
                            <a href="/juntas/#sectionlimpiamanos">Limpiamanos</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="dropdown">
                <a class="dropBtn" href="#">Novedades
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="/productos">Newsletters</a>
                    <a href="/noticias">Noticias</a>


                </div>
            </div>

            <div class="dropdown">
                <a class="dropBtn" href="#">Catalogos
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="/">Online</a>
                    <a href="/">Descargar</a>


                </div>
            </div>


            <div class="dropdown">
                <a class="dropBtn" href="/servicio">Servicios
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="drop-content">

                    <a href="#">Competicion</a>
                    <a href="#">Informacion tecnica</a>


                </div>
            </div>

            <div class="btnheadermobile">

                <a class="btnmobileA" href="">
                    <box-icon name="search" color="yellow" size="sm"></box-icon>
                    <span class="titlespan"> Buscar
                    </span>
                </a>
                <a class="btnmobileA" href="">
                    <box-icon name="cart" color="yellow" size="sm"></box-icon>
                    <span class="titlespan">Carrito</span>
                </a>
            </div>

        </div>

        <div class="btnheader">
            <a href="">
                <box-icon name="cart" color="yellow" size="md"></box-icon>
            </a>

            <a href="">
                <box-icon name="search" color="yellow" size="md"></box-icon>
            </a>
        </div>

    </div>
</body>

</html>