<header>
    <div class="headercontainer">
        <div class="logo">
            <img class="cicarellilogo" src="/images/ciccarellilogo.png" alt="">
        </div>

        <div class="headercarrito">
            <a href="#"><box-icon class="carritoheader" name="cart" color="white" size="md"></box-icon>
                <a href="#"><box-icon class="carritoheader" name="user" color="white" size="md"></box-icon>

            </a>
        </div>

        
    </div>

  

</header>