<head>
    <meta lang="es">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juntas Ciccarelli | Inicio </title>
<!-- Pasar ejs title a <title> para que tome la variable del render y cambiarle el nombre -->
    <link rel="shortcut icon" href="/images/faviconcicca.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Font awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Box icons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Swiper JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

</head>