<!-- <nav class="nav">
    <div class="navbarcontainer">


        <ul class="nav_list">

            <li class="nav__listitem"><a href="/">Home </a>

            </li>

            <li class="nav__listitem"><a href="#">Empresa</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/sobre-nosotros">Historia</a></li>
                    <li class="lidrop"><a class="a_drop" href="/calidad">Calidad</a></li>
                    <li class="lidrop"><a class="a_drop" href="/exportacion">Exportación</a></li>
      
                </ul>
            </li>

            <li class="nav__listitem"><a href="/productos">Productos</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/juntas">Juntas</a></li>
                    <li class="lidrop"><a class="a_drop" href="">Retenes</a></li>
                    <li class="lidrop"><a class="a_drop" href="">Selladores</a></li>
                </ul>
            </li>

            <li class="nav__listitem"><a href="#">Catálogo</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="#">Catálogo Online</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Catálogo PDF</a></li>

                </ul>
            </li>


            <li class="nav__listitem"><a href="/noticias">Noticias</a>

            </li>




            <li class="nav__listitem"><a href="">Servicio</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/servicio">Información técnica</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Newsletters</a></li>
                </ul>
            </li>



        </ul>
</nav>
 -->


<nav class="nav">
    <div class="navbarcontainer">


        <ul class="nav_list">

            <li class="nav__listitem"><a href="/">Home</a>

            </li>

            <li class="nav__listitem"><a href="#">Nosotros</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/sobre-nosotros">Historia</a></li>
                    <li class="lidrop"><a class="a_drop" href="/calidad">Calidad</a></li>
                    <li class="lidrop"><a class="a_drop" href="/exportacion">Exportación</a></li>
                </ul>
            </li>

            <li class="nav__listitem"><a href="/productos">Productos</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/juntas">Juntas</a></li>
                    <li class="lidrop"><a class="a_drop" href="">Retenes</a></li>
                    <li class="lidrop"><a class="a_drop" href="">Selladores</a></li>
                    <li class="lidrop"><a class="a_drop" href="">Distribuidores</a></li>

                </ul>
            </li>

            <li class="nav__listitem"><a href="#">Catálogo</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="#">Catálogo Online</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Catálogo PDF</a></li>

                </ul>
            </li>


            <li class="nav__listitem"><a href="/noticias">Novedades</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="#">Newsletters</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Noticias</a></li>
                </ul>


            </li>




            <li class="nav__listitem"><a href="">Servicio</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/servicio">Información técnica</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Newsletters</a></li>
                </ul>
            </li>



        </ul>
</nav>