<nav class="nav">
    <div class="navbarcontainer">


        <ul class="nav_list">

            <li class="nav__listitem"><a href="/">Home </a>

            </li>

            <li class="nav__listitem"><a href="#">Productos</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="#">Ver todos los productos</a></li>
                    <li class="lidrop"><a class="a_drop" href="#">Crear un nuevo producto</a></li>
                </ul>
            </li>


            <li class="nav__listitem"><a href="/admin/dashboard/noticias">Noticias</a>
                <ul class="nav__listitemdrop">
                    <li class="lidrop"><a class="a_drop" href="/admin/dashboard/noticias">Ver todas las noticias</a></li>
                    <li class="lidrop"><a class="a_drop" href="/admin/crear/noticia">Crear una nueva noticia</a></li>
                </ul>
            </li>



        </ul>
</nav>